In [1]:
import pandas as pd 
import numpy as np

In [2]:
pwd

'/Users/makhtar/Documents/learnpython/project_1_datacleaning_&_EDA_resources'

In [3]:
df = pd.read_excel('data/premiums.xlsx')

In [4]:
df.head()

,Age,Gender,Region,Marital_status,Number Of Dependants,BMI_Category,Smoking_Status,Employment_Status,Income_Level,Income_Lakhs,Medical History,Insurance_Plan,Annual_Premium_Amount
0,26,Male,Northwest,Unmarried,0,Normal,No Smoking,Salaried,<10L,6,Diabetes,Bronze,9053
1,29,Female,Southeast,Married,2,Obesity,Regular,Salaried,<10L,6,Diabetes,Bronze,16339
2,49,Female,Northeast,Married,2,Normal,No Smoking,Self-Employed,10L - 25L,20,High blood pressure,Silver,18164
3,30,Female,Southeast,Married,3,Normal,No Smoking,Salaried,> 40L,77,No Disease,Gold,20303
4,18,Male,Northeast,Unmarried,0,Overweight,Regular,Self-Employed,> 40L,99,High blood pressure,Silver,13365

In [6]:
df.shape

(50000, 13)

In [8]:
df[df.Age > 25].shape

(29904, 13)

In [9]:
df[df.Age <= 25].shape

(20096, 13)

In [13]:
df_young = df[df.Age <= 25]
df_rest = df[df.Age > 25]
df_young.shape , df_rest.shape

((20096, 13), (29904, 13))

In [14]:
df_young.to_excel("premiums_young.xlsx", index = False)
df_rest.to_excel("premiums_rest.xlsx", index = False)